/*background*/
.backgroundContainer.withBackdrop {
  background: linear-gradient(to top, black 5%, transparent);
}

/*Blur backdrops, feel free to edit the intensity of the filter values*/

.backdropImage {
  filter: blur(10px) saturate(110%) contrast(110%)brightness(95%);
}
.backgroundContainer.withBackdrop {
  background: linear-gradient(to top, black 5%, transparent);
}
.layout-desktop .itemBackdrop:after, .layout-tv .itemBackdrop:after {
  background: transparent;
}