@import url('https://cdn.jsdelivr.net/gh/loof2736/scyfin@m0.0.1-alpha/CSS/transparent-header.css');





/* Rounded buttons */
.navMenuOption,
.navMenuOption:hover,
.navMenuOption-selected {
    border-radius: 100px !important;
    width: 85% !important;
    margin: auto !important;

    /* Modify button height (optional)
    height: 45px !important;
    */
}

/* Center content vertically and shift to the left */
.navMenuOptionIcon,
.navMenuOptionText {
    position: inherit !important;
    left: -7% !important;
    margin-top: 0 !important;
}


/* Rounded cards */
.cardContent,
.cardPadder,
.cardOverlayContainer,
.blurhash-canvas,
.dialog {
    border-radius: 15px !important;
}

.playedIndicator {
  background: #5dd000;
}
/* Make count indicator icon dark and transparent */
.countIndicator {background: #00000058;}